<md-toolbar class="md-tall io-login-header" ng-controller="loginHeaderCtrl">
    <div class="md-toolbar-tools" style="margin-top: 25px;">
        <img ng-src="mod_EmployeeReview/assets/icons/SimplyCheer-logo-white.svg" height="100px;">
    </h2>
        <!--<span flex></span>
        <md-button ng-click="website()">
            <div layout="row" layout-align="center center">
                <i class="material-icons">public</i> &nbsp; Website
            </div>
        </md-button>
        <md-button class="md-raised" aria-label="Learn More" ui-sref="idn.login">
            Sign In
        </md-button>-->
    </div>
</md-toolbar>

