

<md-content  layout-gt-sm="row" layout-padding layout-align="end center" style="padding: 20px 20px 20px 0  " >
    <span class="md-body-2" style="margin-top: 20px;padding: 0;">Powered by</span> <img ng-src="mod_EmployeeReview/assets/icons/SimplyCheer-logo.svg" height="50" style="padding: 0px;">
    <!--<div class="fLogo">
    &lt;!&ndash;<img ng-src="mod_EmployeeReview/assets/icons/SimplyCheer-logo-white.svg" height="50" >&ndash;&gt;
    </div>-->
</md-content>
<!--
<style>
    .fLogo{
        float: right;
    }
</style>-->
